.shorts_img {
  width: 100%;
}

.shorts_body_section {
  margin-top: -50px;
  position: relative;
  z-index: 10;
}

.short_body_header {
  position: relative;
}

.short_body_header_img {
  width: 100%;
  height: 138px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.shorts_title {
  font-weight: 800;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
  margin-top: 15%;
}

.shorts_subtitle {

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-top: 18px;
  margin-bottom: 5px;
}

.shorts_body_text {

  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}

.slider_body {
  padding-bottom: 3rem;
}

/* ---------------- Vaccinate Poll --------------- */
.vaccinate_poll_section {
  width: 331px;
  height: 100%;
  background-image: linear-gradient(to bottom, #5f1296, #2b1571);
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  align-self: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.ques {

  font-weight: 700;
  font-size: 15px;
}

.poll_button {
  width: 296px;
  height: 60px;
  background-color: white;
  justify-content: flex-start !important;
  align-self: center;
  align-items: center;
  padding-left: 20px;
  border-radius: 10px;
  margin-top: 18px;

  font-weight: 700;
  font-size: 16px;
  color: #222222;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.poll_button img {
  width: 24px;
  height: 24px;
  margin-right: 20px;
}

.voted_poll_section {
  justify-content: space-between !important;
  align-items: center;
  margin-top: 16px;
}

.poll_button_voted {
  width: 100%;
  position: absolute;
  left: 8px;
  justify-content: flex-start !important;
  align-items: center;
  overflow: hidden;
}

.poll_voted {
  width: 100%;

  font-weight: 700;
  font-size: 18px;
  color: white;
  background-image: linear-gradient(to bottom, #5f1296, #2b1571);
  height: 52px;
  border-radius: 10px;
  padding-left: 10px;
}

.poll_vote_yes {
  /* width: 175px; */
  transition: width 0.5s ease;
  animation: poll_bar_yes 0.5s linear forwards;
}

.poll_vote_no {
  /* width: 77px; */
  transition: width 0.5s ease;
  animation: poll_bar_no 0.5s linear forwards;
}

.poll_vote_not_sure {
  /* width: 0px; */
  transition: width 0.5s ease;
  animation: poll_bar_not_sure 0.5s linear forwards;
}

@keyframes poll_bar_yes {
  0% {
    width: 95%;
  }

  100% {
    width: 175px;
  }
}

@keyframes poll_bar_no {
  0% {
    width: 95%;
  }

  100% {
    width: 77px;
  }
}

@keyframes poll_bar_not_sure {
  0% {
    width: 95%;
  }

  100% {
    width: 0%;
  }
}

.poll_button_voted_not_sure {

  font-weight: 700;
  font-size: 18px;
  color: #571990;
  margin-left: 8px;
}

.vote_percentage {
  font-weight: 700;
  font-size: 18px;

  color: #5f1296;
  margin-left: 12px;
}

.like_icon {
  width: 28px;
  height: 22px;
  align-self: center;
  margin-bottom: 5px;
}

.back_button {
  width: 52px;
  height: 50px;
  position: absolute;
  top: 20px;
  left: 15px;
  z-index: 10;
}

/* ------------------ validate account component styles ----------- */
.puzzle_heart {
  width: 105px;
  height: 91px;
}

.validate_acc_section {
  width: 100%;
  height: 295px;
  background: white;
  border-radius: 10px;
  align-items: center;
}

.validate_acc_section span {

  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin: 16px 0 16px 0;
}

.validate_acc_section p {

  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #a7a5a5;
  margin-top: 0;
}

.validate_acc_btn {
  width: 279px;
  height: 41px;
  background: #571990;
  border-radius: 20px;
  border: none;
  align-self: center;
  font-weight: 700;
  font-size: 14px;

  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  cursor: pointer;
}

/* .comment {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
  }
  .send {
    font-weight: 800;
    font-size: 18px;
    background: linear-gradient(90deg, #fbb800 0%, #ff7a00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  } */

/* --------- Participate Poll component styles ------- */
.poll_participate_title {
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #5f1296;
  margin: 36px 0 12px 0;
}

.poll_participate_subtitle {

  font-weight: 500;
  font-size: 13px;
  text-align: center;
  color: #000000;
  margin-bottom: 16px;
}

/* ---------------- similar blogs component -------------------- */
.like_dislike {
  width: 35px;
  height: 36px;
}

.like_dislike_title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
}

/* ----------- LikesShortsViews ------------------ */
.time_shorts_views_text {
  font-size: 12px;
  color: white;

  font-weight: 400;
}

.clock_icon_white {
  width: 16px !important;
  aspect-ratio: 1;
  margin-right: 8px;
}

.shorts_icon_white {
  width: 14px !important;
  aspect-ratio: 0.91;
  margin-right: 8px;
}

.views_icon_white {
  width: 16px !important;
  aspect-ratio: 1.2;
  margin-right: 8px;
}

/* ------------- Footer Section ---------------------- */
.footer_section {
  align-items: center;
  /* width: 340px; */
  justify-content: space-around !important;
  border: 1px dashed #ffd375;
}

.dashed_line {
  width: 90%;
  border: dashed #ffd375;
  border-width: 1px 0;
  position: absolute;
  top: 2px;
}

.footer_comment_section {
  height: 41px;
  align-items: center;
  background: #561990;
  border-radius: 27px;
  padding: 0px 12px;
  font-size: 12px;

  font-weight: 500;
  color: white;
  cursor: pointer;
}

.footer_like_section {
  width: 85px;
  height: 41px;
  align-items: center;
  background: #561990;
  border-radius: 27px;
  font-size: 12px;

  font-weight: 500;
  color: white;
  cursor: pointer;
  position: relative;
}

.footer_share_section {
  font-size: 12px;

  font-weight: 500;
  cursor: pointer;
}

.heart_icon {
  width: 20px;
  height: 19px;
  align-self: center;
  margin-right: 8px;
  position: absolute;
  left: 10px;
}

.heart_animation {
  width: 120px;
  height: 120px;
  position: absolute;
  left: -40px;
}

.heart_liked {
  width: 22px;
  aspect-ratio: 1.03;
  position: absolute;
  left: 8.5px;
  top: 9px;
}

.comments_icon {
  width: 20px;
  height: 20px;
  align-self: center;
  margin-right: 8px;
}

.share_icon {
  width: 17px;
  height: 19px;
  align-self: center;
  margin-right: 8px;
}

.likes_no {
  position: absolute;
  left: 35px;
}

.likes {
  position: absolute;
  left: 52px;
}

/* --------------------------------------- */
@media only screen and (min-width: 768px) {
  .short_body_header_img {
    height: 160px;
  }

  .shorts_title {
    font-size: 28px;
    line-height: 30px;
  }

  .shorts_subtitle {
    margin-top: 54px;
    font-size: 22px;
  }

  .shorts_body_text {
    font-size: 16px;
  }

  .slider_body {
    padding-bottom: 4rem;
  }

  /* ---------------- Vaccinate Poll --------------- */
  .vaccinate_poll_section {
    width: 400px;
  }

  .ques {
    font-size: 20px;
  }

  .poll_button {
    width: 365px;
    font-size: 22px;
  }

  .poll_button img {
    width: 32px;
    height: 32px;
  }

  .poll_voted {
    font-size: 24px;
  }

  .poll_button_voted_not_sure {
    font-size: 22px;
  }

  @keyframes poll_bar_yes {
    0% {
      width: 90%;
    }

    100% {
      width: 70%;
    }
  }

  @keyframes poll_bar_no {
    0% {
      width: 90%;
    }

    100% {
      width: 26%;
    }
  }

  @keyframes poll_bar_not_sure {
    0% {
      width: 90%;
    }

    100% {
      width: 0%;
    }
  }

  /* ------------------ validate account component styles ----------- */
  .puzzle_heart {
    width: 120px;
    height: 104px;
  }

  .validate_acc_section span {
    font-size: 22px;
  }

  .validate_acc_section p {
    font-size: 17px;
  }

  .validate_acc_btn {
    width: 300px;
    height: 50px;
    font-size: 18px;
  }

  /* --------- Participate Poll component styles ------- */
  .poll_participate_title {
    font-size: 28px;
    line-height: 110%;
  }

  .poll_participate_subtitle {
    font-size: 17px;
  }

  /* ----------- LikesShortsViews ------------------ */
  .time_shorts_views_text {
    font-size: 16px;
  }

  .clock_icon_white {
    width: 20px !important;
  }

  .shorts_icon_white {
    width: 18px !important;
  }

  .views_icon_white {
    width: 20px !important;
  }

  /* ------------- Footer Section ---------------------- */
  .footer_section {
    width: 400px;
  }

  .footer_comment_section {
    font-size: 16px;
  }

  .footer_like_section {
    width: 100px;
    font-size: 16px;
  }

  .footer_share_section {
    font-size: 16px;
  }

  .likes {
    left: 57px;
  }
}

@media only screen and (min-width: 800px) {
  .shorts_subtitle {
    margin-top: 75px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 340px) {
  .shorts_title {
    font-size: 18px;
  }

  .vaccinate_poll_section {
    width: 100%;
  }

  .poll_button {
    width: 90%;
  }

  @keyframes poll_bar_yes {
    0% {
      width: 95%;
    }

    100% {
      width: 70%;
    }
  }

  @keyframes poll_bar_no {
    0% {
      width: 95%;
    }

    100% {
      width: 26%;
    }
  }

  @keyframes poll_bar_not_sure {
    0% {
      width: 95%;
    }

    100% {
      width: 0%;
    }
  }

  .footer_section {
    width: 95%;
  }
}


.slick-dots.slick-thumb {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 10px;
  padding-top: 5px;
  top: 190px;
}

.slick-dots.slick-thumb li {
  width: 33px;
  height: 4px;
  /* margin: 0 3px; */
  border-radius: 999px;
  transition: all 0.5s ease-in-out;
  background-color: #8606e2;
}

.slick-dots.slick-thumb li.slick-active {
  background: linear-gradient(to right, #ffb001 50%, #8606e2 50%);
  background-position: right;
  background-size: 200% 100%;
  transition: all 0ms ease-out;
}

/* --------------------------- */
.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(500px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
}